
@Model List<Student>
    @{
        ViewData["Title"] = "Home Page";
    }


    <h2>Students</h2>

    <div>
        <p>@Model[1].StudentId</p>
        <p>@Model[1].FirstName</p>
    </div>
    <p>@Model[0].StudentId</p>
    <p>@Model[0].FirstName</p>




